* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(57, 111, 111);
    display: flex;
    justify-content: center;
}

table {
    border: 1px solid white;
}

table th:nth-child(1) {
    border: 1px solid white;
    background-color: rgb(138, 154, 154) !important; 
}

table th:nth-child(2n) {
    border: 1px solid white;
    background-color: rgb(84, 107, 107);
}

table th:nth-child(2n+1) {
    border: 1px solid white;
    background-color: rgb(57, 82, 82);
}

table th:nth-last-child(1) {
    border: 1px solid white;
    background-color: rgb(202, 208, 208);
}
 