* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: rgb(75, 69, 69);
}

.container {
  width: 100%;
  height: 100%;
}

.header_container {
    width: 100%;
    height: 3em;
    background-color: rgba(30, 27, 27, 0.333);
}

.header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    align-items: center;
    padding-right: 2em;
    gap: 5em;
}

.list_nav {
    color: white;
    list-style-type: none;
}

.anchor_nav {
    text-decoration: none;
    color: white;
}

.anchor_nav:hover {
    color: wheat;
}

.main_container {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
}

.description_about_project {
    width: 100%;
    height: 10em;
    background-color: rgba(171, 138, 138, 0.153);
    margin-bottom: 2em;
    box-shadow: 0px 0px 5px 3px;
}

.heading_one {
  margin: 1em;
  color: white;
  text-align: center;
}

.article {
    color: white;
    text-align: center;
}

hr {
    width: 90%;
    height: px;
    background-color: white;
    margin: 1em;
}

.description_project {
  width: 100%;
  height: 10em;
  margin-top: 2em;
  background-color: rgba(171, 138, 138, 0.153);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  box-shadow: 0px 0px 5px 3px;
}

h2 {
  color: white;
}

.description {
  color: wheat;
  text-align: center;
}

.aside {
    color: white;
}

.list_project {
  margin: 2em;
  color: white;
}

.information_project_team {
  width: 100%;
  height: 15em;
  background-color: rgba(171, 138, 138, 0.153);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  box-shadow: 2px 1px 5px 1.5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: whitesmoke;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
}

.footer_container {
    width: 100%;
    height: 10em;
    margin-top: 2em;
}

.footer {
    width: 100%;
    height: 100%;
    background-color: rgba(30, 27, 27, 0.333);
}

h3 {
    color: white;
    text-align: center;
    padding-top: 50px;
}